<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142201686682-356qjjb92t4moj3tb3af4e0p81scjr4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142201686682-356qjjb92t4moj3tb3af4e0p81scjr4k</string>
	<key>API_KEY</key>
	<string>AIzaSyBs5it2JBzD1M1AbaBezBT_JzuSBJgAaek</string>
	<key>GCM_SENDER_ID</key>
	<string>142201686682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.fiap.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>fiap-shoppinglist-jonas</string>
	<key>STORAGE_BUCKET</key>
	<string>fiap-shoppinglist-jonas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142201686682:ios:904bbb316f5c1e45af6d23</string>
</dict>
</plist>